# Ignorar archivos de configuración sensibles
.env
.env_dev
.env_prod

# Ignorar dependencias instaladas
node_modules/

# Ignorar carpetas de logs
logs/
*.log

# Ignorar datos de compilación (opcional)
dist/
build/

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de configuración de editores
.vscode/
.idea/
